$PR_BLACK: #323232;
$PR_PRIMARY_GREY: #646464;
$PR_GREEN: #78cc6d;

.text-pr-green {
  color: $PR_GREEN !important;
}
.text-primary-grey {
  color: $PR_PRIMARY_GREY !important;
}
.text-secondary-grey {
  color: #cac6c6;
}
.text-pr-black {
  color: $PR_BLACK !important;
}
.bg-pr-green {
  background: $PR_GREEN !important;
}
.section-title-text {
  font-size: 20px;
  line-height: 21px;
  font-weight: 600;
}
.inner-section-title-text {
  font-size: 20px;
  font-weight: 500;
}
.inner-section-normal-text {
  font-size: 18px;
}
.inner-section-wrapper {
  padding: 30px;
}
.cursor-pointer {
  cursor: pointer;
}
.border-bottom {
  border-bottom: 1px solid #e9e8e8;
}
.border-right {
  border-right: 1px solid #e9e8e8;
}
.duration-border {
  border: 1px solid #eeeeee;
  border-radius: 5px;
}
.active-duration-border {
  border-color: $PR_GREEN;
  color: $PR_GREEN;
}
.card-inner-padding {
  padding: 30px 20px 0 30px;
}
.medium-black-bold-text {
  margin: 6px 0 0 0;
  font-size: 17px;
  font-weight: 500;
  color: #323232;
}
.small-gray-text {
  font-size: 14px;
  color: #999999;
  font-weight: 400;
}

body {
  color: #646464;
  // background-color: #50a3a2;
  font-size: 16px;
  margin: 0;
  padding: 0;
  border: none;
  letter-spacing: 0em;
  font-weight: 400;
}
ol,
ul {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}
::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

.background-gradient {
  background: linear-gradient(to bottom right, #50a3a2 0%, #78cc6d 100%);
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .bg-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    li {
      position: absolute;
      list-style: none;
      display: block;
      width: 80px;
      height: 80px;
      background-color: rgba(255, 255, 255, 0.1);
      bottom: -320px;
      -webkit-animation: square 50s infinite;
      animation: square 50s infinite;
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      border-radius: 4px;
      -moz-border-radius: 4px;
      -webkit-border-radius: 4px;
      -khtml-border-radius: 4px;
    }
    li:nth-child(1) {
      left: 10%;
    }
    li:nth-child(2) {
      left: 20%;
      width: 160px;
      height: 160px;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
      -webkit-animation-duration: 34s;
      animation-duration: 34s;
    }
    li:nth-child(3) {
      left: 25%;
      -webkit-animation-delay: 4s;
      animation-delay: 4s;
    }
    li:nth-child(4) {
      left: 40%;
      width: 120px;
      height: 120px;
      -webkit-animation-duration: 44s;
      animation-duration: 44s;
    }
    li:nth-child(5) {
      left: 70%;
    }
    li:nth-child(6) {
      left: 80%;
      width: 240px;
      height: 240px;
      -webkit-animation-delay: 3s;
      animation-delay: 3s;
    }
    li:nth-child(7) {
      left: 32%;
      width: 320px;
      height: 320px;
      -webkit-animation-delay: 7s;
      animation-delay: 7s;
    }
    li:nth-child(8) {
      left: 55%;
      width: 40px;
      height: 40px;
      -webkit-animation-delay: 15s;
      animation-delay: 15s;
      -webkit-animation-duration: 80s;
      animation-duration: 80s;
    }
    li:nth-child(9) {
      left: 25%;
      width: 20px;
      height: 20px;
      -webkit-animation-delay: 2s;
      animation-delay: 2s;
      -webkit-animation-duration: 80s;
      animation-duration: 80s;
    }
    li:nth-child(10) {
      left: 90%;
      width: 320px;
      height: 320px;
      -webkit-animation-delay: 22s;
      animation-delay: 22s;
    }
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1500px) rotate(600deg);
    transform: translateY(-1500px) rotate(600deg);
  }
}

.hidden {
  // opacity: 0 !important;
  display: none;
  // z-index: 9 !important;
}
.active-component {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.link {
  color: $PR_BLACK;
  display: block;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  padding: 10px 13px;
  // border-bottom: 1px solid #e9e8e8;
}
.link:hover {
  color: $PR_GREEN;
}
.active-menu-link {
  color: $PR_GREEN;
}
.menu-content-wrapper {
  display: flex;
  flex-direction: column;
}
.inner-card {
  background-color: white;
}
.inner-head-icon {
  font-size: 28px;
}
.inner-head-title {
  line-height: 14px;
  color: $PR_BLACK;
  font-size: 17px;
  font-weight: 500;
}
.box-title {
  font-size: 16px;
  color: #323232;
  font-weight: 500;
  text-transform: none;
}

.circular-progress {
  width: 30%;
}
.margin-right-20 {
  margin-right: 40%;
}

.component-tablet-mobile-view {
  display: none;
}

.client-pic-avatar {
  background-image: url("./assets/images/man.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
.carousel-indicators [data-bs-target] {
  background-color: $PR_GREEN;
}

.half-full-input {
  width: 48% !important;
}
.grey-button {
  padding: 10px 30px;
  display: inline-block;
  width: auto;
  background: #eeeeee;
  border-radius: 4px;
  border: none;
  color: $PR_BLACK;
}
.grey-button:hover {
  color: $PR_GREEN;
  transition: 0.5s;
}

.components-container {
  height: 100vh;

  .menu-profile-card {
    height: 80vh;
  }

  .portfolio-navbar {
    background-color: white !important;
    border-radius: 5px;
    width: fit-content;

    .nav-item {
      padding: 10px 13px;
      border-bottom: 1px solid #e9e8e8;
      text-decoration: none;
      color: $PR_BLACK;
    }
    .nav-item:hover {
      color: $PR_GREEN;
    }
    .nav-item:last-child {
      border-bottom: none;
    }
    .menu-item-icon {
      font-size: 20px;
      line-height: 30px;
    }
    .menu-item-label {
      font-size: 11px;
      font-weight: 500;
      text-transform: uppercase;
      line-height: 13px;
    }
  }

  .profile-card {
    background-color: white;
    position: relative;
    z-index: 1;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 5%);
    .profile-photo {
      width: 100%;
      height: 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .profile-content {
      .profile-name {
        font-size: 34px;
        line-height: 32px;
        color: $PR_BLACK;
      }
      .skills {
        color: $PR_GREEN;
        font-size: 16px;
        line-height: 20px;
      }
      .social-icons {
        a {
          color: $PR_BLACK;
          margin-right: 10px;
          font-size: 16px;
        }
        a:last-child {
          margin-right: 0;
        }
        a:hover {
          color: $PR_GREEN;
        }
      }
    }
    .cv-section {
      position: absolute;
      bottom: 0;
      .cv-content {
        display: flex;
        border-top: 1px solid #e9e8e8;
        p {
          margin: 0;
          padding: 10px 0;
        }
      }
    }
  }

  .title {
    color: $PR_BLACK;
    margin: 0 0 0 0;
    padding: 30px 0 30px 30px;
    font-size: 20px;
    line-height: 21px;
    // min-height: 51px;
    font-weight: 600;
  }

  .first-word {
    color: $PR_GREEN;
  }

  .about-me-section {
    height: 73vh;
    overflow-y: auto;
    overflow-x: hidden;

    .about-me-content {
      .personal-details {
        padding: 15px 0;
        border-bottom: 1px solid #e9e8e8;
      }
      .my-services {
        .icon {
          color: white;
          background-color: $PR_GREEN;
          width: 60px;
          height: 60px;
          display: inline-block;
          border-radius: 50%;
          line-height: 60px;
        }
      }
      .clients-experience {
        .clients-words {
        }
        .client-photo {
          background-image: url("./assets/images/man.jpg");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
        .client-name {
          margin: 6px 0 0 0;
          font-size: 17px;
          font-weight: 500;
          color: #323232;
        }
        .client-job {
          font-size: 14px;
          color: #999999;
          font-weight: 400;
        }
      }
    }
  }
  .resume-section {
    height: 73vh;
    color: $PR_BLACK;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .blogs-section {
    height: 73vh;
    color: $PR_BLACK;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .contact-section {
    height: 73vh;
    overflow-y: auto;
    overflow-x: hidden;

    .map-location {
      width: 100%;
      height: 240px;
    }
  }

  .works-section {
    height: 73vh;
    overflow-y: auto;
    overflow-x: hidden;

    .work-card {
      box-shadow: 10px 10px 40px rgb(0 0 0 / 8%);
      border: none;
    }
  }
}

/*******************************************
        Responsiveness CSS
********************************************/

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 768px) and (max-width: 991px) {
  // .sticky-menubar {
  //   position: sticky !important;
  //   top: 0 !important;
  // }
  .animate__animated {
    animation: none !important;
  }
  .hidden {
    display: block;
  }
  .component-tablet-mobile-view {
    display: block;
  }
  .component-desktop-view {
    display: none;
  }
  .components-container {
    display: block;
    .portfolio-navbar {
      display: flex;
      width: 100%;
      li {
        flex: 1;
      }
    }
    .about-me-section {
      height: auto;
    }
    .resume-section {
      height: auto;
    }
    .blogs-section {
      height: auto;
    }
    .contact-section {
      height: auto;
    }
    .works-section {
      height: auto;
    }
  }
}

@media (max-width: 767px) {
  // .sticky-menubar {
  //   position: sticky !important;
  //   top: 0 !important;
  // }
  .animate__animated {
    animation: none !important;
  }
  .hidden {
    display: block;
  }
  .component-tablet-mobile-view {
    display: block;
  }
  .component-desktop-view {
    display: none;
  }
  .half-full-input {
    width: 100% !important;
  }
  .components-container {
    display: block;
    .portfolio-navbar {
      display: flex;
      width: 100%;
      li {
        flex: 1;
      }
    }
    .about-me-section {
      height: auto;
    }
    .resume-section {
      height: auto;
    }
    .blogs-section {
      height: auto;
    }
    .contact-section {
      height: auto;
    }
    .works-section {
      height: auto;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 575px) {
}
